$primary_color: #0f62fe;
$secondary_color: #fbfbfb;
$tertiary_color: #d9d9d9;

.LoginPage {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  min-height: 93vh;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 2em;
}

.LogoIMG img {
  width: 20em;
  padding: 2em 0;
  margin-top: 2em;

  @media (min-width: 1100px) {
    margin-top: 4em;
  }
}

.LogContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  padding: 1em 3em;
  background: $secondary_color;
  border-radius: 4em;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  min-height: 60vh;
  width: 40%;
  z-index: 1;

  @media (max-width: 1100px) {
    width: 90%;
  }
}

.LogContainer h1 {
  padding: 0 0;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: $primary_color;
}

.LogContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary_color;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 1px 8px $secondary_color;
  cursor: pointer;
  color: $secondary_color;
  font-size: 1.5rem;
  padding: 1rem 3.5rem;
  margin: 2rem auto;
  transition: 0.25s;
}

.LogContainer button:hover {
  box-shadow: 0px 1px 18px $tertiary_color;
}

.LoginForm {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.LoginAlert {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  justify-content: center;
  padding-top: 0.54em;
  padding-bottom: 0.54em;
}

.LoginInputs {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.LoginInputs input {
  border: 1px solid $tertiary_color;
  border-radius: 2rem;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;
}

.LoginInputs input:focus {
  font-weight: bold;
  outline: solid $primary_color;
}

.RedirectSignup {
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.RedirectSignup p {
  margin: 0;
  font-weight: bold;
}

.RedirectSignup a {
  text-decoration: none;
  color: $primary_color;
  font-weight: bold;
}

.RedirectHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.RedirectHome a {
  text-decoration: none;
  color: $primary_color;
  font-weight: bold;
}